.headerContainer{
    padding: 1% 1.5% 1% 1.5%;
    background: #383434;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 5;
    height: 80px;
}

.usernameText{
    font-size: 24px;
    font-weight: bold;
}

.ppButton > *{
    transition: linear 0.3s;
}

.ppButton:hover > *{
    opacity: 0.5;
    filter: brightness(0.6);
}
