.mainContainer{
    position: relative;
    width: 100%;
    height: 100%;
}

.viewerContainer{
    width: 100%;
    min-height: 221px;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.loadBlocker{
    width: 100%;
    min-height: 221px;
    z-index: 3;
    background-color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

}

.hiddenModel{
    opacity: 0;
}