.CommBarContainer {
    width: 20%; 
    max-width: 800px; 
    padding: 20px;
    background-color: #5b696a; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    position:fixed;
    top:80px;
    left: 0%;
}

.ikinci {
    border: 1px solid #ccc;
    margin: 0px 0 0px 0;
    padding: 15px;
    background-color: #EEEEEE;
}

.CommLink{
    text-decoration: none; 
    color: black;
}