.search-bar {
    flex-grow: 0; 
    flex-shrink: 0; 
    width: 80%; 
    height: 10px;
    padding: 10px;
    position: absolute; 
    left: 6%; 
    top: 80px; 
  }
  
  .search-bar input {
    width: 100%; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
  }
  