.add-comment {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .add-comment form {
    display: flex;
    flex-direction: column;
  }
  
  .add-comment textarea {
    width: 97%;
    height: 60px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
  }
  
  .add-comment button {
    align-self: flex-end;
    padding: 8px 16px;
    background-color: #565e65;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-comment button:hover {
    background-color: #333436;
  }
  