
.feed {
    width: 50%; 
    max-width: 800px; 
    margin: 80px auto; 
    padding: 20px;
    background-color: #5b696a; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    position: relative;
    left: 0;
  }
  