.settings-body {
    background-color: #222831;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.settings-container {
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 400px;
    text-align: center;
}

.settings-container h1 {
    border-bottom: 2px solid #555;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.settings-section {
    margin-bottom: 20px;
}

.settings-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.profile-photo img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.settingsinput {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 22px);
}

.settingsbutton {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.settingsbutton:hover {
    background-color: #0056b3;
}
