/* Main container */
.mainContainer{
    width: 80%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}



/* Profile Page Parent Containers */
.profileHeaderContainer {
    width: 100%; /* Adjust as needed */
    height: 20%; /* Same as width for a square */
    padding: 1px;
    object-fit: cover; /* Crop and fill */
    border: 2px solid black;  /* Define the border style */
    border-radius: 0;  /* This ensures it stays as a rectangle (default) */
    flex-direction: column;
}
.profileContentContainer {
    width: 100%; /* Adjust as needed */
    height: 80%; /* Same as width for a square */
    padding: 1px;
    border: 2px solid blue;  /* Define the border style */
    border-radius: 0;  /* This ensures it stays as a rectangle (default) */
    flex-direction: column;
}



/* Profile Page Sub Containers */
.profileHeaderDetailsContainer {
    width: 100%; /* Adjust as needed */
    height: 60%; /* Same as width for a square */
    padding: 1px;
    border: 1px solid black;  /* Define the border style */
    border-radius: 0;  /* This ensures it stays as a rectangle (default) */
    flex-direction: column;
}
.profileHeaderButtonsContainer{
    width: 100%; /* Adjust as needed */
    height: 40%; /* Same as width for a square */
    padding: 1px;
    border: 1px solid black;  /* Define the border style */
    border-radius: 0;  /* This ensures it stays as a rectangle (default) */
    flex-direction: row;
}
.profileContentTabsContainer {
    width: 100%; /* Adjust as needed */
    height: 80%; /* Same as width for a square */
    padding: 1px;
    border: 1px solid blue;  /* Define the border style */
    border-radius: 0;  /* This ensures it stays as a rectangle (default) */
    flex-direction: row;
}
.profileContentTabContentContainer {
    width: 100%; /* Adjust as needed */
    height: 80%; /* Same as width for a square */
    padding: 1px;
    border: 1px solid blue;  /* Define the border style */
    border-radius: 0;  /* This ensures it stays as a rectangle (default) */
    flex-direction: row;
}



/* Profile Page Elements */
.profileHeaderDetailsAvatar {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Same as width for a square */
    padding: 1px;
    object-fit: cover; /* Crop and fill */
    border-radius: 50%; /* Circular shape */
}
.profileHeaderButtonsFollowButton {
    padding: 3px;
    width: 150px;
    height: 40px;
    background-color: #383434;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.profileHeaderButtonsFollowButton:hover {
    background-color: #181414;
}
.profileHeaderButtonsFollowingButton {
    margin-top: 3px;
    width: 150px;
    height: 40px;
    background-color: #383434;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.profileHeaderButtonsFollowingButton:hover {
    background-color: #181414;
}
.profileHeaderButtonsFollowersButton {
    margin-top: 3px;
    width: 150px;
    height: 40px;
    background-color: #383434;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.profileHeaderButtonsFollowersButton:hover {
    background-color: #181414;
}

/* Dialog Parent Containers */

/* Dialog Sub Containers */

/* Dialog Elements */







