.mainContainer{
    width: 60%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.profileAvatar {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Same as width for a square */
    object-fit: cover; /* Crop and fill */
    border-radius: 50%; /* Circular shape */
  }
.profileFollowButton {
    margin-top: 3px;
    width: 150px;
    height: 40px;
    background-color: #383434;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.profileFollowButton:hover {
    background-color: #181414;
}

.profileDialogButton{
    margin-top: 3px;
    width: 200px;
    height: 40px;
    background-color: #383434;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.profileDialogButton:hover {
    background-color: #181414;
}

/* Add a backdrop for the dialog */
.dialogBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the dialog is on top */
  }
  
  /* Style for dialog content */
  .dialogContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 80%;
  }
  
  /* Dialog header and body styling */
  .dialogHeader {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .dialogBody {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  /* Dialog footer styling */
  .dialogFooter {
    text-align: right;
  }
  
  /* Scrollable List Container */
  .scrollableList {
    max-height: 300px; /* Set maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-bottom: 15px;
  }
  
  .profileItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .profileAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profileItem span {
    font-size: 16px;
    color: #333;
  }
  
  