
.postCard{
    background-color: white;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.previewContainer{
    height: 211px;
    background-position: center;
}

.viewModelBtn{
    background: #202c34 ;
    border: #202c34 ;
    color:  white 
}

.interactionCount{
    min-width: 39px;
}

.postPageCard{
    background-color: white;
    padding: 20px;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.annotationContainer{
    height: 500px;
    position: sticky;
    top: 100px;
    
    width: 29%;
    background-color: #E0D3AF;
    border-radius: 10%;
    padding: 2%;
}

.annotationDataContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    height: 400px;
    
}

.ellipsis {
    width: 300px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    position: relative;
  }

.singleAnnotationContainer{
    border-bottom: black;
    border-style: dashed;
}