
.postCard{
    background-color: white;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.previewContainer{
    height: 211px;
    background-position: center;
}

.viewModelBtn{
    background: #202c34 ;
    border: #202c34 ;
    color:  white 
}

.interactionCount{
    min-width: 39px;
}

.postPageCard{
    background-color: white;
    padding: 20px;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.annotationContainer {
    height: 500px;
    position: sticky;
    top: 100px;
    width: 29%;
    background-color: #f9f6ee;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
}

.annotationDataContainer {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    overflow-y: scroll;
    height: 400px;
    padding-right: 10px;
}

.singleAnnotationContainer {
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.singleAnnotationContainer:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.ellipsis {
    width: 100%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    color: #555;
    font-style: italic;
    font-size: 0.9rem;
}

.text-blue-600 {
    color: #1d4ed8;
    font-weight: bold;
    text-decoration: none;
}

.text-blue-600:hover {
    text-decoration: underline;
}

p {
    margin: 0;
    color: #333;
    line-height: 1.5; 
    font-size: 0.95rem;
}